/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #20303d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(197, 196, 196);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(249, 249, 249);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}